dev:
  box: 'ubuntu/trusty64'
  ip: '192.128.0.12'
  cpus: 1
  memory: 512
  hostname: 'dev'
  fqdn: 'dev.doa.guest'
  sync:
    exclude:
      - '.meteor/*'
    listen:
      '../myplugin': '~/myplugin'
